In [6]:
import pandas as pd 
df = pd.read_csv("pima-indians-diabetes.csv")
df.head()

,Pregnancies,Glucose,BP,SkinThickness,Insulin,BMI,Pedigree,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [7]:
# data exploration
# finding if anycol has null values
df.isnull().sum()

Pregnancies      0
Glucose          0
BP               0
SkinThickness    0
Insulin          0
BMI              0
Pedigree         0
Age              0
Outcome          0
dtype: int64

In [8]:
df.describe()

# we can see min/max
# and accordingly decide for outlier detection

,Pregnancies,Glucose,BP,SkinThickness,Insulin,BMI,Pedigree,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [9]:
# check for imbalance in target
# i,e if there are equal rows with no diabetes and having diabetes
df.Outcome.value_counts()

# slight imbalance

0    500
1    268
Name: Outcome, dtype: int64

In [19]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier
X = df.drop('Outcome', axis='columns')
y = df.Outcome

# standard scaling of data 
# because Glucose min-max is from 0-200
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# X_scaled will be a numpy array
# printing first two rows 
# X_scaled[:2]

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, random_state=10)

# n-estimator: no of subsets
# oob score: out of bag, becayse of our random sampling strategy, we might miss some samples 
bag_model = BaggingClassifier(
    base_estimator=DecisionTreeClassifier(),
    n_estimators=100,
    max_samples=0.8,
    oob_score=True,
    random_state=0
)

bag_model.fit(X_train, y_train)
bag_model.score(X_test, y_test)

0.7760416666666666

In [18]:
# only using standalone model of decision tree i,e without bagging
d_model = DecisionTreeClassifier()
d_model.fit(X_train, y_train)
d_model.score(X_test, y_test)

0.703125

**hence we can see that unstable classifier descision tree produced 70% accuracy but with help of bagging it got in creased till 77%**