In [1]:
import pandas as pd 

# in case of unknown dataset, taking any one feature (X) and output Y and form a custom dataframe
# eg: df = df[['some_feature', 'Y']]

df = pd.read_csv('marketing.csv')
df.head()

      TV  Sales
0  230.1   22.1
1   44.5   10.4
2   17.2    9.3
3  151.5   18.5
4  180.8   12.9

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   TV      200 non-null    float64
 1   Sales   200 non-null    float64
dtypes: float64(2)
memory usage: 3.2 KB

In [5]:
df.describe()

               TV       Sales
count  200.000000  200.000000
mean   147.042500   14.022500
std     85.854236    5.217457
min      0.700000    1.600000
25%     74.375000   10.375000
50%    149.750000   12.900000
75%    218.825000   17.400000
max    296.400000   27.000000

In [6]:
df.shape

(200, 2)

In [8]:
X = df['TV']
y = df['Sales']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

def linear_regression(X, y):
    N = len(X)
    x_mean = X.mean()
    y_mean = y.mean()

    B1_num = ((X - x_mean) * (y - y_mean)).sum()
    B1_den = ((X - x_mean)**2).sum()
    m = B1_num / B1_den

    c = y_mean - (m*x_mean)

    return (c, m)

In [9]:
c, m = linear_regression(X_train, y_train)


x_input = int(input())
y_output = c + m * x_input
print("y = ", y_output)

y =  15.294340648336682